.accessories-page {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.accessories-page h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 40px;
}

.accessories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.accessory-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.accessory-card:hover {
  transform: translateY(-6px);
}

.accessory-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 12px;
}

.accessory-card h3 {
  font-size: 17px;
  margin-bottom: 8px;
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.accessory-card p {
  font-size: 14px;
  color: #555;
   overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}